{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    {% if products %}
        <table id="products" class="table table-striped">
            <thead>
            <tr>
                <th>Product</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.createAt | date('Y-m-d h:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Product to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}